In [45]:
# Import the Pandas and NumPy libraries using import function and aliases.
import numpy as np
import pandas as pd

In [3]:
# Import the Actual Duration data into a DataFrame using the read_csv() function.
ad = pd.read_csv('actual_duration.csv')
# Use head() function to view the first 5 rows of the Actual Duration DataFrame to check data was imported correctly.
ad.head()

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [4]:
# Import the Appointments Regional data into a DataFrame using the read_csv() function.
ar = pd.read_csv('appointments_regional.csv')
# Use head() function to view the first 5 rows of the Appointments Regional DataFrame to check data was\
# imported correctly.
ar.head()

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [5]:
# Import the National Categories data into a DataFrame using the read_excel() function.
nc = pd.read_excel('national_categories.xlsx')
# Use head() function to view the first 5 rows of the National Categories DataFrame to check data was imported \
# correctly.
nc.head()

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [8]:
# For the Actual Duration DataFrame:
# View the column names using the print() function and columns method.
print(ad.columns)
# View the number of rows and columns using the print() function and shape method.
print(ad.shape)
# View the data types of each column using the print() function and dtypes method.
print(ad.dtypes)

Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')
(137793, 8)
sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

In [9]:
# Create a DataFrame containing all missing values in the Actual Duration DataFrame by using isna() function.
# Use any(axis=1) parameter to identify missing values in all columns of DataFrame.
ad_na = ad[ad.isna().any(axis=1)]
# View how many rows in the Actual Duration DataFrame have missing values by using shape method
ad_na.shape

(0, 8)

In [ ]:
# This indicates there are no missing values in the Actual Duration DataFrame.

In [10]:
# For the Appointments Regional DataFrame:
# View the column names using the print() function and columns method.
print(ar.columns)
# View the number of rows and columns using the print() function and shape method.
print(ar.shape)
# View the data types of each column using the print() function and dtypes method.
print(ar.dtypes)

Index(['icb_ons_code', 'appointment_month', 'appointment_status', 'hcp_type',
       'appointment_mode', 'time_between_book_and_appointment',
       'count_of_appointments'],
      dtype='object')
(596821, 7)
icb_ons_code                         object
appointment_month                    object
appointment_status                   object
hcp_type                             object
appointment_mode                     object
time_between_book_and_appointment    object
count_of_appointments                 int64
dtype: object

In [11]:
# Create a DataFrame containing all missing values in the Appointments Regional DataFrame by using isna() function.
# Use any(axis=1) parameter to identify missing values in all columns of DataFrame.
ar_na=ar[ar.isna().any(axis=1)]
# View how many rows in the Appointments Regional DataFrame have missing values by using shape method.
ar_na.shape

(0, 7)

In [ ]:
# This indicates there are no missing values in the Appointments Regional DataFrame.

In [12]:
# For the National Categories DataFrame:
# View the column names using the print() function and columns method.
print(nc.columns)
# View the number of rows and columns using the print() function and shape method.
print(nc.shape)
# View the data types of each column using the print() function and dtypes method.
print(nc.dtypes)

Index(['appointment_date', 'icb_ons_code', 'sub_icb_location_name',
       'service_setting', 'context_type', 'national_category',
       'count_of_appointments', 'appointment_month'],
      dtype='object')
(817394, 8)
appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month                object
dtype: object

In [13]:
# Create a DataFrame containing all missing values in the National Categories DataFrame by using isna() function.
# Use any(axis=1) parameter to identify missing values in all columns of DataFrame.
nc_na=nc[nc.isna().any(axis=1)]
# View how many rows in the National Categories DataFrame have missing values by using shape method.
nc_na.shape

(0, 8)

In [ ]:
# This indicates there are no missing values in the National Categories DataFrame.

In [14]:
# Calculate descriptive statistics of numerical data in the Actual Duration DataFrame using describe() function.
ad.describe()

       count_of_appointments
count          137793.000000
mean             1219.080011
std              1546.902956
min                 1.000000
25%               194.000000
50%               696.000000
75%              1621.000000
max             15400.000000

In [15]:
# Obtain Metadata for the Actual Duration DataFrame using info() function.
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB

In [16]:
# Calculate descriptive statistics of numerical data in the Appointments Regional DataFrame using describe() function.
ar.describe()

       count_of_appointments
count          596821.000000
mean             1244.601857
std              5856.887042
min                 1.000000
25%                 7.000000
50%                47.000000
75%               308.000000
max            211265.000000

In [17]:
# Obtain Metadata for the Appointments Regional DataFrame using info() function.
ar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB

In [18]:
# Calculate descriptive statistics of numerical data in the National Categories DataFrame using describe() function.
nc.describe()

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

In [19]:
# Obtain Metadata for the National Categories DataFrame using info() function.
nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB

In [34]:
# Use unique() function to view list of locations, and len() function to count number of locations.
# Assign a variable to this count.
cnt_loc = len(nc['sub_icb_location_name'].unique())
# Use print() function to return count alongside an appropriate docstring.
print("Count of locations: ", cnt_loc)

Count of locations:  106

In [38]:
# Use value_counts() function to generate table that displays number of records per location in descending order.
# Assign a variable to this table.
locations_most_records = nc['sub_icb_location_name'].value_counts()
# Use print() function to generate an appropriate docstring.
print("These are the five locations with the most records in the National Categories data set:")
# Use head() function to return the five locations with the most records.
locations_most_records.head()

These are the five locations with the most records in the National Categories data set:

NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
Name: sub_icb_location_name, dtype: int64

In [48]:
# Use unique() function to view list of service settings, and len() function to count number of service settings.
# Assign a variable to this count.
cnt_serv_setting = len(nc['service_setting'].unique())
# Use print() function to return count alongside an appropriate docstring.
print("Count of Service Settings: ", cnt_serv_setting)

Count of Service Settings:  5

In [51]:
# Use unique() function to view list of service settings.
nc['service_setting'].unique()

array(['Primary Care Network', 'Other', 'General Practice', 'Unmapped',
       'Extended Access Provision'], dtype=object)

In [ ]:
# The 5 service settings includes category for unmapped values.

In [49]:
# Use unique() function to view list of context types, and len() function to count number of context types.
# Assign a variable to this count.
cnt_context_type = len(nc['context_type'].unique())
# Use print() function to return count alongside an appropriate docstring.
print("Count of Context Types: ", cnt_context_type)

Count of Context Types:  3

In [52]:
# Use unique() function to view list of context types.
nc['context_type'].unique()

array(['Care Related Encounter', 'Unmapped', 'Inconsistent Mapping'],
      dtype=object)

In [ ]:
# The 3 context types include categories for unmapped and inconsistently mapped values.

In [50]:
# Use unique() function to view list of national categories, and len() function to count number of \ 
# national categories. Assign a variable to this count.
cnt_nat_cat = len(nc['national_category'].unique())
# Use print() function to return count alongside an appropriate docstring.
print("Count of National Categories: ", cnt_nat_cat)

Count of National Categories:  18

In [53]:
# Use unique() function to view list of national categories.
nc['national_category'].unique()

array(['Patient contact during Care Home Round', 'Planned Clinics',
       'Home Visit', 'General Consultation Acute',
       'Structured Medication Review', 'Care Home Visit', 'Unmapped',
       'Clinical Triage', 'Planned Clinical Procedure',
       'Inconsistent Mapping',
       'Care Home Needs Assessment & Personalised Care and Support Planning',
       'General Consultation Routine',
       'Service provided by organisation external to the practice',
       'Unplanned Clinical Activity', 'Social Prescribing Service',
       'Non-contractual chargeable work',
       'Group Consultation and Group Education', 'Walk-in'], dtype=object)

In [ ]:
# The 18 national categories include categories for unmapped and inconsistently mapped values.

In [54]:
# Use unique() function to view list of appointment statuses, and len() function to count number of \
# appointment statuses. Assign a variable to this count.
cnt_app_status = len(ar['appointment_status'].unique())
# Use print() function to return count alongside an appropriate docstring.
print("Count of Appointment Statuses: ", cnt_app_status)

Count of Appointment Statuses:  3

In [56]:
# Use unique() function to view list of appointment statuses.
ar['appointment_status'].unique()

array(['Attended', 'DNA', 'Unknown'], dtype=object)

In [ ]:
# The 3 appointment statuses includes category for unknown values.